button:focus {outline:0;}

.shoe-bar {
  overflow: scroll;
  white-space: nowrap;
}

.shoe-bar button {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  border: none;
  border-right: 1px solid black;
  background-color: white;
  height: 35px
}


.left-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 1000px;
  float: left;
}

.left-bar button {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
  height: 35px
}

.graph-display-area {
  overflow: hidden;
  width: auto;
  height: 1000px;
  /*background-color: red;*/
}
.metrics {
  display: inline-block;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  text-align: center;
}

.input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bar-and-graph {
border-bottom: 2px solid black;
}

p {
  font-family: 'Roboto', sans-serif;
}
