
<hr>
Number of Shoes in System: {{allShoes.length}}
Number of Skus in the System: {{allSkus.length}}

<div>
  <input type="file" import-sheet-js="" opts="gridOptions" multiple="false"  />
  <!-- <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div> -->
</div>

<div class="bar-and-graph">
  <div class="left-bar">
    <button type="button" name="button" ng-repeat= "skuAttributes in activeSku.attributes track by $index" ng-click = 'makeActiveAttribute($index)'>
      {{skuAttributes}}
    </button>
  </div>
  <!-- <div style="clear: both;"></div> -->
  <div class="graph-display-area">
    <br>
    <p style="text-align: center">
      Looking at Sku: {{activeSku.sku}}  with attribute: {{activeSkuActiveAttribute}}
    </p>
    <canvas id="bar" class="chart-horizontal-bar" chart-data="uniqueSkuAttributeValuesCounts" chart-labels="uniqueSkuAttributeValues"></canvas>

    <!-- <div class="metrics" ng-repeat = "value in uniqueSkuAttributeValues track by $index">
    {{value}} {{uniqueSkuAttributeValuesCounts[$index]}}
    </div> -->
  </div>
</div>
<div style="clear: both;"></div>

<div class="shoe-bar">
  <button class="" ng-repeat= "sku in allSkus" ng-click= "makeActiveSku(sku)">
    {{sku.sku}} ( {{sku.shoes.length}} )
  </button>
</div>
